<!-- Reference: https://ng-bootstrap.github.io/#/components/modal/examples -->

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Add Player</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label>First Name</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<label>Surname</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Sex</label>
						<select class="form-control">
							<option disabled selected>Select Option</option>
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Tier</label>
						<select class="form-control">
							<option disabled selected>Select Option</option>
							<option>Gold</option>
							<option>Silver</option>
							<option>Bronze</option>
						</select>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="button-primary" (click)="d('Cross click')">Cancel</button>
		<button type="button" class="button-primary" (click)="addNewPlayer()">Add</button>
	</div>
</ng-template>

<button class="button-primary float-right" (click)="open(content)">Add Player</button>  