<header>
	<nav class="navbar navbar-light">
		<img src="../assets/viz-logo.svg" alt="logo">
	</nav>
</header>

<main role="main">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-2">
				<app-player [playersListRef]="playersListComponent"></app-player>
			</div>
			<div class="col-12 col-sm-10">
				<app-players-list #playersListComponent></app-players-list>
			</div>
		</div>
	</div>
</main>

<footer class="footer">
	<p class="text-muted text-center">Developed by Bruno Monteiro</p>
</footer>