<!-- Reference: https://www.npmjs.com/package/angular-6-datatable -->

<table class="table table-striped table-bordered" [mfData]="playersList" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead>
    <tr>
      <th></th>
      <th>
        <mfDefaultSorter by="firstName">First Name</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="surname">Surname</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="sex">Sex</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="tier">Tier</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="email">Email</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of mf.data" [class.selected]="player === selectedPlayer" (click)="onSelect(player)">
      <td>{{player.id}}</td>
      <td>{{player.firstName}}</td>
      <td>{{player.surname}}</td>
      <td>{{player.sex}}</td>
      <td>{{player.tier}}</td>
      <td>{{player.email}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
</table>